{# Dime/TimetrackerFrontednBundle/Resources/views/Projects/form.html.twig #}
<header class="page-header">
    <h1>{% trans %}Add project{% endtrans %}</h1>
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#tab-common" data-toggle="tab"><i class="icon-tasks"></i> {% trans %}Common{% endtrans %}</a></li>
    <li><a href="#tab-prices" data-toggle="tab"><b class="icon">$</b> {% trans %}Prices{% endtrans %}</a></li>
    <li><a href="#tab-dates" data-toggle="tab"><i class="icon-calendar"></i> {% trans %}Dates{% endtrans %}</a></li>
</ul>

<form id="project-form" class="form-horizontal tab-content">
    <fieldset id="tab-common" class="tab-pane active">
        <div class="control-group">
            <label for="project-name" class="control-label">{% trans %}Name{% endtrans %}:</label>

            <div class="controls">
                <input id="project-name" name="name" class="input-block-level" type="text" value="">
                <span class="error-name help-inline"></span>
            </div>
        </div>
        <div class="control-group" id="widget-alias">
            <label for="project-alias" class="control-label">{% trans %}Alias{% endtrans %}:</label>

            <div class="controls">
                <div class="input-append">
                    <input id="project-alias" name="alias" class="alias" type="text" value="" maxlength="30">
                    <button type="button" class="slugify btn" title="{% trans %}Create alias from name{% endtrans %}"><i class="icon-refresh"></i></button>
                </div>
                <span class="error-alias help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-description" class="control-label">{% trans %}Description{% endtrans %}:</label>

            <div class="controls">
                <textarea id="project-description" name="description" class="input-block-level" rows="3"></textarea>
                <span class="error-description help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-customer" class="control-label">{% trans %}Customer{% endtrans %}:</label>

            <div class="controls">
                <select id="project-customer" name="customer" class="input-block-level">
                </select>
                <span class="error-customer help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-rate" class="control-label">{% trans %}Rate{% endtrans %}:</label>

            <div class="controls">
                <input id="project-rate" name="rate" class="input-block-level" type="number" value="">
                <span class="error-rate help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-tags" class="control-label">{% trans %}Tags{% endtrans %}:</label>

            <div class="controls">
                <input type="text" id="project-tags" name="tags" class="input-block-level"/>
                <span class="error-tags help-inline"></span>
            </div>
        </div>
    </fieldset>
    <fieldset id="tab-prices" class="tab-pane">
        <div class="control-group">
            <label for="project-budgetPrice" class="control-label">{% trans %}Budget price{% endtrans %}:</label>

            <div class="controls">
                <input id="project-budgetPrice" name="budgetPrice" class="input-block-level" type="number" value="">
                <span class="error-budgetPrice help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-fixedPrice" class="control-label">{% trans %}Fixed price{% endtrans %}:</label>

            <div class="controls">
                <input id="project-fixedPrice" name="fixedPrice" class="input-block-level" type="number" value="">
                <span class="error-fixedPrice help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-budgetTime" name="rate" class="control-label">{% trans %}Budget time{% endtrans %}:</label>

            <div class="controls">
                <input id="project-budgetTime" name="budgetTime" class="input-block-level" type="number" value="">
                <span class="error-budgetTime help-inline"></span>
            </div>
        </div>
    </fieldset>
    <fieldset id="tab-dates" class="tab-pane">
        <div class="control-group">
            <label for="project-startedAt" class="control-label">{% trans %}Started at{% endtrans %}:</label>

            <div class="controls">
                <input id="project-startedAt" name="startedAt" class="input-block-level" type="date" value=""
                       data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                <span class="error-startedAt help-inline"></span>
            </div>
        </div>
        </div>
        <div class="control-group">
            <label for="project-stoppedAt" class="control-label">{% trans %}Stopped at{% endtrans %}:</label>

            <div class="controls">
                <input id="project-stoppedAt" name="stoppedAt" class="input-block-level" type="date" value=""
                       data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                <span class="error-stoppedAt help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="project-deadline" class="control-label">{% trans %}Deadline{% endtrans %}:</label>

            <div class="controls">
                <input id="project-deadline" name="deadline" class="input-block-level" type="date" value=""
                       data-toggle="datepicker" data-date-format="YYYY-MM-DD" data-data-weekstart="1">
                <span class="error-deadline help-inline"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-actions">
        <div class="pull-right">
            <button type="button" class="cancel btn">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" class="save btn btn-primary">{% trans %}Save{% endtrans %}</button>
        </div>
    </fieldset>
</form>

