{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block content %}
<h1>Service</h1>
<div id="services" class="loading"></div>

<script type="text/template" id="tpl-service-item">
<div class="buttons pull-right"><button class="btn edit">Edit</button> <button class="btn danger delete">Delete</button></div>
<h3><%= name %> (Rate: <% if (typeof(rate) != "undefined") { %><%- rate %><% } %>)</h3>
<% if (typeof(description) != "undefined") { %><p><%- description %></p><% } %>
</script>

<div id="service-form" class="modal fade" data-prefix="service-">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3 class="title">Add Service</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <div class="clearfix">
                    <label for="service-name">Name:</label>
                    <div class="input">
                        <input id="service-name" class="service-name" type="text" value="" >
                    </div>
                </div>
                <div class="clearfix">
                    <label for="service-rate">Rate:</label>
                    <div class="input">
                        <input id="service-rate" class="service-rate" type="text" value="" >
                    </div>
                </div>
                <div class="clearfix">
                    <label for="service-description">Description:</label>
                    <div class="input">
                        <textarea id="service-description" class="service-description" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn primary save">Save</button>
        <button class="btn secondary cancel">Cancel</button>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h2><a href="#new" class="service-new">Add Service</a></h2>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var services = new dime.collection.services();
    var form = new dime.views.service.form({el: '#service-form', collection: services});
    new dime.views.service.list({collection: services, itemTagName: "div", form: form}).render();
    services.fetch();

  // TODO Use backbone routes - Problem: howto navigate back from #new ?
  $('.service-new').bind('click', function(e) {
    e.preventDefault();
    form.model = new dime.model.service();
    form.render();
  });
</script>
{% endblock %}

