{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block header %}
  <div class="pull-right">
    <button class="service-new btn btn-primary btn-small">Add Service</button>
  </div>
  <h1>Service</h1>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="services" class="loading">
  </tbody>
</table>

<script type="text/template" id="tpl-service-item">
  <td><%- name %></td>
  <td><% if (typeof(rate) != "undefined") { %><%- rate %><% } %></td>
  <td><% if (typeof(description) != "undefined") { %><%- description %><% } %></td>
  <td><button class="edit btn">Edit</button> <button class="delete btn btn-danger">Delete</button></td>
</script>

<div id="service-form" class="modal hide fade" data-prefix="service-">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="title">Add Service</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label for="service-name" class="control-label">Name:</label>
                    <div class="controls">
                        <input id="service-name" class="service-name input-xlarge" type="text" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="service-rate" class="control-label">Rate:</label>
                    <div class="controls">
                        <input id="service-rate" class="service-rate input-xlarge" type="text" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="service-description" class="control-label">Description:</label>
                    <div class="controls">
                        <textarea id="service-description" class="service-description input-xlarge" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="save btn btn-primary span2">Save</button>
        <button class="cancel btn" data-dismiss="modal">Cancel</button>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<section>
  
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var services = new dime.collection.services();
    var form = new dime.views.service.form({el: '#service-form', collection: services});
    new dime.views.service.list({collection: services, itemTagName: "tr", form: form}).render();
    services.fetch();

  // TODO Use backbone routes - Problem: howto navigate back from #new ?
  $('.service-new').bind('click', function(e) {
    e.preventDefault();
    form.model = new dime.model.service();
    form.render();
  });
</script>
{% endblock %}

