*~
.*.swo
.*.swp
.idea
.vagrant
.vim*
app/config/parameters.yml
nbproject
tags
bin/php-cs-fixer
web/assetic/
web/js/
web/css/

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
