/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

*~
.*.swo
.*.swp
.idea
.vagrant
.vim*
nbproject
tags
bin/php-cs-fixer
web/assetic/
web/js/
web/css/
