*~
.*.swo
.*.swp
.vagrant
.vim*
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
bin/build-ctags.sh
build/
nbproject
tags
vendor/
web/bundles/
web/js/
.buildpath
.project
.settings/*

