{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block header %}
<form class="well form-search">
  <input class="span10" type="text">
  <button class="btn btn-primary">Track</button>
</form>
{% endblock %}

{% block content %}


<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Customer: Project</th>
            <th>Comment</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="activities" class="loading">
    </tbody>
</table>

<script type="text/template" id="tpl-activity-item">
    <% var customerName  = (typeof(customer) != "undefined") ? customer.name  : '' %>
    <% var customerAlias = (typeof(customer) != "undefined") ? customer.alias : '' %>
    <td>
        <% if (typeof(customer) != "undefined" && typeof(customer.name) != "undefined" && customer.name.length) { %>
            <a href="#" class="client-project" data-placement="below" rel="twipsy" title="<%- customer.name %>">
                <%- customerAlias %>
            </a>
        <% } %>
        <% if (project.length) { %>
            <a href="#"><%- project %></a>
        <% } %>
    </td>
    <td>
        <%- description %>
    </td>
    <% if (typeof(duration) != "undefined" && 0 < duration) { %>
        <% var durationObject = new Date(duration * 60 * 1000) %>
        <td><%= durationObject.getHours() %>h <%= durationObject.getMinutes() %>min</td>
        <td><button class="continue btn btn-success span2" data-toggle="toggle">Continue</button></td>
    <% } else if (typeof(startedAt) == "undefined") { %>
        <td>(unknown)</td>
        <td></td>
    <% } else { %>
        <td>(running)</td>
        <td><button class="stop btn btn-danger span2" data-toggle="toggle">Stop</button></td>
    <% } %>
</script>

<div id="edit-modal" class="modal hide fade" style="display: none; ">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3>Edit time slip …</h3>
    </div>
    <div class="modal-body">
        <p>Description goes here…</p>
    </div>
    <form>
        <fieldset class="well">
            <div class="clearfix" style="margin-bottom: 0">
                <div class="input"  style="margin: 0 20px 0 10px">
                    <input class="xlarge span7" id="xlInput" name="xlInput" size="80" type="text" style="font-size: 24px;height: 32px" placeholder="">
                    <span class="btn large primary" style="padding: 11px; position: relative; top: -3px">Track</span>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <a href="#" class="btn primary">Save</a>
        <a href="#" class="btn secondary">Cancel</a>
    </div>
</div>

{% endblock %}    


{% block sidebar %}
    <h2>Filter</h2>
    <h3>Data Filter</h3>
    <em>filter list goes here</em>

    <h4>by Tag</h4>
    <span class="label">Tag 1</span> <span class="label">Tag 2</span> <span class="label">Tag 3</span>
    <span class="label">Tag 4</span> <span class="label">Tag 5</span> <span class="label">Tag 6</span>

    <h4>by Project</h4>

    <h4>by Customer</h4>
{% endblock %}

{% block js %}
<script type="text/javascript">
  (function ($, app) {
    var activities = new app.collection.activities();
    new app.views.activity.list({collection: activities, itemTagName: "tr"}).render();
    activities.fetch();
  })(jQuery, Dime);
</script>
{% endblock %}
