{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="span10">
        <h1>Documentation</h1>
    </div>
    <div class="span4">
        sidebar
    </div>
  </div>
</div>

{% endblock %}
