{# Dime/TimetrackerFrontednBundle/Resources/views/Customers/form.html.twig #}
<header class="page-header">
    <h1>{% trans %}Customer{% endtrans %}</h1>
</header>

<form id="customer-form" class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label for="customer-name" class="control-label">{% trans %}Name{% endtrans %}:</label>
            <div class="controls">
                <input id="customer-name" name="name" class="input-block-level" required type="text" value="">
                <span class="error-name help-inline"></span>
            </div>
        </div>
        <div class="control-group" id="widget-alias">
            <label for="customer-alias" class="control-label">{% trans %}Alias{% endtrans %}:</label>
            <div class="controls">
                <div class="input-append">
                    <input id="customer-alias" name="alias" class="alias" type="text" value="" maxlength="30">
                    <button type="button" class="slugify btn" title="{% trans %}Create alias from name{% endtrans %}"><i class="icon-refresh"></i></button>
                </div>
                <span class="error-alias help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="customer-tags" class="control-label">{% trans %}Tags{% endtrans %}:</label>
            <div class="controls">
                <input type="text" id="customer-tags" name="tags" class="input-block-level"/>
                <span class="error-tags help-inline"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-actions">
        <div class="pull-right">
            <button type="button" class="cancel btn">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" class="save btn btn-primary">{% trans %}Save{% endtrans %}</button>
        </div>
    </fieldset>
</form>
