{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block content %}
<h1>Service</h1>
<table class="zebra-striped data-table" id="serviceTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="loading"></div>
{% endblock %}

{% block sidebar %}
<h2><a href="{{ path('post_services') }}">Add Service</a></h2>

<h2>Filter</h2>
TODO
{% endblock %}
