@CHARSET "UTF-8";
body {
    background-color: #d0d0d0;      
    text-align: center;  /* Zentrierung im Internet Explorer */
}

#content {
    background-color: #e0e0e0;
    text-align: left;    /* Seiteninhalt wieder links ausrichten */
    margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
    width: 50em;
    padding: 20px;
    border: 0px;
}


.textfield input {
	width: 40em;
}

table {
	width: 100%;
}