{# Dime/TimetrackerFrontednBundle/Resources/views/Tags/form.html.twig #}
<header class="page-header">
    <h1>Tag</h1>
</header>

<form id="tag-form" class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label for="tag-name" class="control-label">{% trans %}Name{% endtrans %}:</label>
            <div class="controls">
                <input id="tag-name" name="name" class="input-block-level" type="text" value="">
                <span class="error-name help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="tag-system" class="control-label">{% trans %}System{% endtrans %}:</label>
            <div class="controls">
                <input id="tag-system" name="system" class="input-block-level" type="checkbox" value="">
                <span class="error-system help-inline"></span>
            </div>
        </div>
    </fieldset>
    <fieldset class="form-actions">
        <div class="pull-right">
            <button type="button" class="cancel btn">{% trans %}Cancel{% endtrans %}</button>
            <button type="submit" class="save btn btn-primary">{% trans %}Save{% endtrans %}</button>
        </div>
    </fieldset>
</form>
