{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block header %}
  <div class="pull-right">
    <button class="activity-new btn btn-primary btn-small">Add activity</button>
  </div>
  <h1>Activities</h1>
{% endblock %}

{% block content %}
<div id="activities" class="loading"></div>

<script type="text/template" id="tpl-activity-item">
<div class="buttons pull-right"><button class="edit btn">Edit</button> <button class="delete btn btn-danger">Delete</button></div>
<h3><%= typeof(duration)=="undefined" ? '' : duration %> <% if (typeof(customer) != "undefined") { %>(@<%- customer.alias %>)<% } %></h3>
<% if (typeof(description) != "undefined") { %><p><%- description %></p><% } %>
</script>

<div id="activity-form" class="modal hide" data-prefix="activity-">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h3 class="title">Add activity</h3>
    </div>
    <div class="modal-body">
        <ul class="tabs nav nav-tabs">
            <li class="active"><a href="#relation">Relation</a></li>
            <li><a href="#dates">Dates</a></li>
            <li><a href="#prices">Prices</a></li>
        </ul>
        <form class="form-horizontal tab-content">
            <fieldset class="tab-pane active" id="relation">
                <div class="control-group">
                    <label for="activity-customer" class="control-label">Customer:</label>
                    <div class="controls">
                        <select id="activity-customer" class="activity-customer input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-project" class="control-label">Project:</label>
                    <div class="controls">
                        <select id="activity-project" class="activity-project input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-description" class="control-label">Description:</label>
                    <div class="controls">
                        <textarea id="activity-description" class="activity-description input-xlarge" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="tab-pane" id="dates">
                <div class="control-group">
                    <label for="activity-startedAt" class="control-label">Started at:</label>
                    <div class="controls">
                        <input id="activity-startedAt" class="activity-startedAt input-xlarge" type="datetime" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-stoppedAt" class="control-label">Stopped at:</label>
                    <div class="controls">
                        <input id="activity-stoppedAt" class="activity-stoppedAt input-xlarge" type="datetime" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-duration" class="control-label">Duration:</label>
                    <div class="controls">
                        <input id="activity-duration" class="activity-duration input-xlarge" type="number" value="" >
                    </div>
                </div>
            </fieldset>
            <fieldset class="tab-pane" id="prices">
                <div class="control-group">
                    <label for="activity-service" class="control-label">Service:</label>
                    <div class="controls">
                        <select id="activity-service" class="activity-service input-xlarge">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-rate" class="control-label">Rate:</label>
                    <div class="controls">
                        <input id="activity-rate" class="activity-rate input-xlarge" type="number" value="" >
                    </div>
                </div>
                <div class="control-group">
                    <label for="activity-rateReference" class="control-label">Rate reference:</label>
                    <div class="controls">
                        <input id="activity-rateReference" class="activity-rateReference input-xlarge" type="text" value="" >
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="save btn btn-primary span2">Save</button>
        <button class="cancel btn">Cancel</button>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  (function ($, app) {
    var activities = new app.collection.activities();
    var form = new app.views.activity.form({el: '#activity-form', collection: activities});
    new app.views.activity.list({collection: activities, itemTagName: "div", form: form}).render();
    activities.fetch();

    $('.activity-new').bind('click', function(e) {
      e.preventDefault();
      form.model = new app.model.activity();
      form.render();
    });
  })(jQuery, Dime);
</script>
{% endblock %}
