{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="content">
<h2>Konfigurationsdummy</h2>
</div>
{% endblock %}