{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
       <link href="{{ asset('bundles/dimetimetrackerinvoice/css/ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
       <script src="{{ asset('bundles/dimetimetrackerinvoice/js/bootstrap.js') }}" type="text/javascript"></script>
{% endblock %}
{% block title %}Dime - Invoice: Hinweise für Erstbenutzer {% endblock %}
{% block body %}
<h1>Rechnungsgenerator</h1>
<div id="content">
<h2>Vor der ersten Benutzung:</h2>
<p>
Vor der ersten Benutzung dieses Tools müssen Sie einmalig das Template  
<span class="File">src/Dime/TimetrackerInvoiceBundle/Resources/views/Invoice/invoice.html.twig</span>
an Ihre Anforderungen anpassen.
</div>
{% endblock %}