/* 
    Document   : style
    Created on : 07.02.2012, 11:03:45
    Author     : nogo
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
  background-color: #eee;
}

body {
  padding-top: 40px;
  position: relative;
}

.footer {
    margin-top: 15px;
    text-align: center;
}

#main {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
