{% extends "DimeTimetrackerFrontendBundle::layout.html.twig" %}

{% block content %}

<div class="content">
  <div class="row">
    <div class="span10">
        <h1>Customer</h1>
        <h2>Add customer</h2>
        <h2>Manage customers</h2>
    </div>
    <div class="span4">
        sidebar
    </div>
  </div>
</div>

{% endblock %}
